.venv/
.DS_Store
.env
__pycache__/
data/session/
src/puppet/extensions/
data/logs/
data/puppets
data/db
data/slant/blacklist.pkl
data/slant/slants_train.csv
data/slant/slants_train.pkl
data/models/
.vscode/